<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <!-- Логи выводятся только в консоль -->
    <Appenders>
        <!-- Консольный аппендер: выводит логи в стандартный вывод (консоль).
             Используется имя "Console" и вывод идет в SYSTEM_OUT (по умолчанию это консоль приложения). -->
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <!-- Определение шаблона для вывода лога в консоль.
                 %d - дата, %-5p - уровень логирования, %c{1} - имя класса, %L - номер строки, %m - сообщение, %n - новая строка -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Корневой логгер: применяется по умолчанию ко всем классам.
             Уровень логирования "INFO" означает, что сообщения уровня INFO и выше (WARN, ERROR) будут выводиться.
             AppenderRef ref="Console" указывает, что логи будут отправляться в консоль. -->
        <Root level="DEBUG">
            <AppenderRef ref="CONSOLE"/> <!-- Оставляем только консольный аппендер для корневого логгера -->
        </Root>
    </Loggers>
</Configuration>